
{
  "extends": [
    "airbnb"
  ],
  "settings": {
    "import/resolver": "node"
  },
  "env": {
    "browser": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "rules":{
    "comma-dangle": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}